(
    dock_items:{
        log_tabs:Tabs(
            tabs:[
                log_list_tab,
                profiler,
            ],
            selected:0,
            closable:true,
        ),
        run_first:Tab(
            name:"",
            template:RunFirstTab,
            kind:RunFirst,
        ),
        snapshot_tab:Tab(
            name:"Snapshot",
            template:SnapshotTab,
            kind:Snapshot,
        ),
        edit_tabs:Tabs(
            tabs:[
                edit_first,
                16730779916113192932,
                12897161967791101683,
            ],
            selected:1,
            closable:true,
        ),
        split4:Splitter(
            axis:Horizontal,
            align:FromA(16),
            a:outline_tabs,
            b:design_tabs,
        ),
        16730779916113192932:Tab(
            name:"app.rs",
            template:CloseableTab,
            kind:CodeEditor,
        ),
        outline_first:Tab(
            name:"",
            template:OutlineFirstTab,
            kind:OutlineFirst,
        ),
        12897161967791101683:Tab(
            name:"lib.rs",
            template:CloseableTab,
            kind:CodeEditor,
        ),
        ai_first:Tab(
            name:"",
            template:AiFirstTab,
            kind:AiFirst,
        ),
        outline_tabs:Tabs(
            tabs:[
                outline_first,
            ],
            selected:0,
            closable:true,
        ),
        split2:Splitter(
            axis:Horizontal,
            align:FromA(642),
            a:edit_tabs,
            b:split3,
        ),
        log_list_tab:Tab(
            name:"Log",
            template:LogTab,
            kind:LogList,
        ),
        design_first:Tab(
            name:"",
            template:DesignFirstTab,
            kind:DesignFirst,
        ),
        search:Tab(
            name:"Search",
            template:SearchTab,
            kind:Search,
        ),
        run_list_tab:Tab(
            name:"Run",
            template:RunListTab,
            kind:RunList,
        ),
        file_tree_tabs:Tabs(
            tabs:[
                file_tree_tab,
                run_list_tab,
                search,
                snapshot_tab,
            ],
            selected:0,
            closable:true,
        ),
        run_tabs:Tabs(
            tabs:[
                run_first,
                18310441111689453623,
                ai_first,
            ],
            selected:1,
            closable:true,
        ),
        split1:Splitter(
            axis:Vertical,
            align:FromB(375),
            a:split2,
            b:log_tabs,
        ),
        split3:Splitter(
            axis:Horizontal,
            align:FromA(17),
            a:split4,
            b:run_tabs,
        ),
        edit_first:Tab(
            name:"",
            template:EditFirstTab,
            kind:EditFirst,
        ),
        profiler:Tab(
            name:"Profiler",
            template:ProfilerTab,
            kind:Profiler,
        ),
        18310441111689453623:Tab(
            name:"hotkeynancy",
            template:CloseableTab,
            kind:RunView,
        ),
        file_tree_tab:Tab(
            name:"Files",
            template:FilesTab,
            kind:StudioFileTree,
        ),
        root:Splitter(
            axis:Horizontal,
            align:FromA(128),
            a:file_tree_tabs,
            b:split1,
        ),
        design_tabs:Tabs(
            tabs:[
                design_first,
            ],
            selected:0,
            closable:true,
        ),
    },
    processes:[
        (
            root:"makepad",
            binary:"hotkeynancy",
            target:ReleaseStudio,
        ),
    ],
    tab_id_to_file_node_id:{
        12897161967791101683:12897161967791101683,
        16730779916113192932:16730779916113192932,
    },
)